.footer {
  font-size: 0.9em;
  font-family: "Manrope";
  clear: both;
}

.footer p {
    margin-bottom: 0;
}

.footer-background-color {
  margin-top: 30px; /* space between content and footer */
  padding-top: 20px;
  clear: both;
  background: #f2f2f2;
}

.iconresize img {
  width: 30px !important;
  height: 30px !important;
  padding: 1em !important;
  box-shadow: none;
}

p {
  text-align: center;

}

a:hover {
  font-size: 0.9em;
}
