@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");

a {
  text-decoration: none;
  color: #444444;
}

nav {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 2.0625;
  text-align: center;
  letter-spacing: 0.05em;
  color: #444444;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  margin-right: 5%;
}
nav div {
  float: left;
  width: 14%;
  margin-bottom: 5%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  margin-left: 30%;
  margin-top: 1%;
}

@media only screen and (min-width: 680px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    margin-left: 45%;
    margin-top: 1.2%;
  }

  nav div {
    float: left;
    width: 14%;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 900px) {
  nav {
    font-size: 1em;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .navbar {
    margin-top: 1.5%;
  }
  a:hover {
    font-style: italic;
  }

  a:active {
    color: gainsboro;
  }
}
