@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");

HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p {
  font-family: "Manrope";
  color: #444444 !important;
  font-weight: 400;
  letter-spacing: 0.05em;
}

a {
  z-index: 1;
}


h3 {
  font-family: "Montserrat";
  clear: both;
  color: #444444;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.05em;

}

.title {
  font-weight: 800;
  clear: both;
  font-size: 1.3em;
  line-height: 0.5em;
  text-align: center;
  letter-spacing: 0.05em;
  color: #444444;
  box-shadow: none !important;
  padding: 2%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2em;
  }
}

a:hover {
color: gray;
font-style: normal;
}

a:active {
  color: gray;
}

